[project]
	description = Animated Social share buttons control for iOS
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Almas Adilbek (mixdesign)
[access "refs/for/refs/*"]
	read = group user/Almas Adilbek (mixdesign)
	push = group user/Almas Adilbek (mixdesign)
	label-Code-Review = -2..+2 group user/Almas Adilbek (mixdesign)
	label-Verified = -1..+1 group user/Almas Adilbek (mixdesign)
	rebase = group user/Almas Adilbek (mixdesign)
	removeReviewer = group user/Almas Adilbek (mixdesign)
	submit = group user/Almas Adilbek (mixdesign)
[access "refs/heads/*"]
	read = group user/Almas Adilbek (mixdesign)
	create = group user/Almas Adilbek (mixdesign)
	push = +force group user/Almas Adilbek (mixdesign)
	pushMerge = group user/Almas Adilbek (mixdesign)
[access "refs/tags/*"]
	push = +force group user/Almas Adilbek (mixdesign)
	pushTag = group user/Almas Adilbek (mixdesign)
	pushSignedTag = group user/Almas Adilbek (mixdesign)
